
<div class="container mt-5">
  <h3>List Products</h3>
  <a routerLink="create"><button class="btn btn-success">ADD +</button> </a>

    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th scope="col">Tên sp</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Giá</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data">
          <tr>
            <td>{{item.id}}</td>
            <td>
              <a routerLink="/student/details/{{item.id}}">{{item.name}}</a>
            </td>
            <td>
            <img [src]="item.image" alt="" width="100">
            </td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>
              <a routerLink="edit/:id"><button class="btn btn-primary">Edit</button>
              </a>
              <button class="btn btn-danger mx-4" (click)="remove(item.id)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
