<div class="container">
    <h3>List User</h3>

    <div class="my-5">
        <input type="text" placeholder="Search" (input)="search($event)">
    </div>

    <hr>

    <form style="width: 450px;text-align: center;display: block;margin: 0px auto;">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="" id="name" class="form-control" (input)="onChange($event)" [value]="newUser.name">

        <label for="age" class="form-label">age</label>
        <input type="number" name="" id="age" class="form-control" (input)="onChange($event)" [value]="newUser.age">

        <label for="phone" class="form-label">phone</label>
        <input type="text" name="" id="phone" class="form-control" (input)="onChange($event)" [value]="newUser.phone">

        <label for="avatar" class="form-label">avatar</label>
        <input type="text" name="" id="avatar" class="form-control" (input)="onChange($event)" [value]="newUser.avatar">

        <button class="btn btn-primary my-4" type="button" (click)="onSubmit()" [disabled]="!onValidate(newUser)">SUBMIT</button>
    </form>

    <table class="table table-striped">
        
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Phone</th>
                <th scope="col">Avatar</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.phone}}</td>
                <td><img [src]="user.avatar" width="100px" height="100px"></td>
                <td><button class="btn btn-danger" (click)="remove(user.id)">Delete</button></td>
                <td><button class="btn btn-danger" (click)="edit(user)">Edit</button></td>
            </tr>
        </tbody>

    </table>
</div>